@charset "UTF-8";
.FangAna {
  width: 100%;
  height: 1rem;
  font-size: 0.34rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .FangAna div {
    width: 1.25rem;
    height: 0.72rem;
    display: flex;
    align-items: center; }
    .FangAna div a {
      width: 50%;
      display: flex;
      font-size: 0.2rem;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
  .FangAna img {
    width: 2.17rem;
    height: 0.73rem;
    margin-left: 0.1rem;
    margin-top: 0.1rem; }

.svg1 {
  font-size: 0.43rem; }

.FangAnb {
  width: 100%;
  height: 4.49rem; }

.FangAnb-d1 {
  margin-left: 0.18rem;
  margin-top: 0.25rem;
  margin-right: 0.18rem;
  margin-bottom: 0.36;
  width: auto;
  height: auto;
  font-size: 0.33rem; }
  .FangAnb-d1 img {
    width: 100%;
    height: 2.83rem; }

.FangAnb-d2 {
  width: 100%;
  height: 1.47rem;
  font-size: 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .FangAnb-d2 div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .FangAnb-d2 div span {
      margin-top: 0.3rem; }

.FangAnb-d2 span {
  display: block;
  width: 100%; }

.FangAnb-sp1 {
  display: inline-block;
  text-align: center;
  line-height: 0.81rem;
  color: white;
  border-top-left-radius: 0.32rem;
  border-bottom-left-radius: 0.32rem;
  width: 2.20rem;
  height: 0.81rem;
  background: palevioletred; }

.FangAnc {
  width: 100%;
  height: 1.75rem;
  font-size: 0.25rem;
  display: flex; }
  .FangAnc span {
    display: inline-block;
    margin: 0 0.42rem;
    width: 6.97rem;
    height: 1.76rem;
    text-indent: 2em; }

.FangAnd {
  width: 100%;
  height: 3.62rem; }

.FangAnd > div:nth-child(1) {
  margin: 0.36rem 0.18rem;
  width: 7.15rem;
  height: 1.97rem;
  font-size: 0.24rem;
  display: flex; }
  .FangAnd > div:nth-child(1) img {
    width: 2.85rem;
    height: 1.95rem; }
  .FangAnd > div:nth-child(1) div {
    width: 4.15rem;
    height: 1.85rem;
    margin-left: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }

.FangAne1 {
  width: 95%;
  font-size: .24rem;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-line-break: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: .54rem;
  margin-left: .2rem; }

.FangAnf {
  width: 100%;
  height: 1rem;
  display: flex;
  font-size: 0.28rem; }
  .FangAnf li {
    width: 25%;
    height: 100%;
    text-align: center;
    border-left: 0.5px solid;
    border-right: 0.5px solid;
    line-height: 1rem; }

.FangAnf > li:hover {
  border-bottom: 3px seagreen solid; }

.FangAng > a {
  width: 0.57rem;
  height: 0.97rem;
  display: flex;
  font-size: 0.15rem;
  flex-direction: column;
  justify-content: space-around; }

.FangAng {
  width: 7.1rem;
  height: 1.27rem;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  padding-right: 0.2rem;
  background: gainsboro;
  overflow: auto;
  font-size: 0.15rem;
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center; }
  .FangAng div {
    width: 3.58rem;
    height: 0.86rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; }
    .FangAng div p {
      width: 100%; }
    .FangAng div span {
      display: inline-block;
      width: 100%; }
    .FangAng div a {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: black; }

.svga {
  font-size: 0.6rem; }

.svgb {
  font-size: 0.6rem;
  color: grey; }

.svgb {
  font-size: 0.14rem; }

.FangAnh {
  width: 100%;
  height: 2.85rem;
  box-sizing: border-box;
  font-size: .15rem;
  display: flex;
  color: orangered;
  padding: 0 0.2rem;
  background: url(../img1/237ab9ebcc449f419c2611f46b907c04.png) no-repeat;
  background-size: 100% 100%; }
  .FangAnh p {
    position: relative;
    left: 0.9rem;
    top: 0.21rem; }

.fFangAng {
  width: 100%;
  height: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden; }
  .fFangAng p {
    width: auto;
    height: 0.54rem;
    margin-left: 0.12rem;
    border: 1px solid;
    border-radius: 0.22rem;
    font-size: 0.28rem;
    padding: 0.1rem 0.24rem;
    box-sizing: border-box;
    margin-top: 0.36rem;
    margin-bottom: 0.36rem;
    color: #3ac893; }

.table1 {
  width: 7.2rem;
  height: 5.45rem;
  font-size: 0.2rem;
  text-align: center;
  margin-left: 0.15rem;
  margin-bottom: 0.36rem; }
  .table1 tr td {
    border: 1px solid #f4f4f4;
    align: center;
    vertical-align: middle;
    /*设置垂直居中*/ }
  .table1 tr td:nth-child(1) {
    width: 1.97rem;
    border-left: none; }
  .table1 tr td:nth-child(2) {
    width: 1.55rem; }
  .table1 tr td:nth-child(3) {
    width: 3.6rem;
    border-right: none; }

.FangAnf1 {
  margin-top: 0.3rem; }

.BaoJia {
  width: 100%;
  height: 2.50rem;
  position: relative; }

.BaoJia-d1 {
  margin-left: 0.18rem;
  margin-bottom: 0.18rem;
  width: 6.95rem;
  height: .80rem;
  font-size: 0.36rem;
  text-align: center;
  border-bottom: 1px solid #d7d7d7; }

.BaoJia-d2 {
  width: 0.23rem;
  height: 0.23rem;
  border: 1px solid green; }

/*# sourceMappingURL=10.20.css.map */
